*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: lightsteelblue;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  margin: 10px auto;
  color: darkcyan;
}
.zoom__icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  margin: 2rem auto;
  gap: 0.5rem;
}

img:hover,
img:focus {
  transform: scale(1.1, 1.1);
}
